DB_BACKEND=postgres

DB_HOST=localhost
DB_PORT=5432
DB_NAME=cloudmart
DB_USER=postgres
DB_PASSWORD=postgres

JWT_SECRET=wqd8FAGX1xWDtJTMvaL9D6pCVAG2kM9EF3NbpAJ9hEC
JWT_EXPIRY_HOURS=24

PORT=8003
FLASK_DEBUG=true